<input type="text" placeholder="Search.." name="search">
<button type="submit" ><i class="fa fa-search"></i></button>

<div class="courses" *ngFor="let i of items">
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{i.title}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <p class="card-text">{{i.actual_price}}</p>
        </div>
      </div>
</div>

<h1> {{total}}</h1>



